.quiz {
  display: block;
  padding: 0;
  height: 640px;

  &__start {
    width: 100%;

    .quiz__title {
      max-width: 500px;
      margin-bottom: 15px;
    }

    .quiz__button {
      max-width: 500px;
      width: 100%;
      height: 55px;
    }
  }

  &__bg {
    max-width: 100%;
    @media (max-width: 1199.98px) {
      margin-left: -60px;
    }
    @media (max-width: 1099.98px) {
      margin-left: -130px;
    }
  }

  &__title {
    color: $black;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.46;
  }

  &__button {
    color: $white;
    font-weight: 700;
    font-size: 16px;
    background: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-buttons {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 222;
  }

  &__button-prev {
    font-weight: 700;
    font-size: 16px;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
  }

  &__button-next {
    color: $white;
    font-weight: 700;
    font-size: 16px;
    background: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
  }

  &__question-slide {
    .quiz__title {
      padding-bottom: 20px;
      border-bottom: 1px solid $main-color;
      width: fit-content;
    }
  }

  &__question-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 35px;
    margin-top: 45px;

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .quiz__label {
      background: $main-color;
      color: $white;

      &::after {
        content: "✔";
      }
    }
  }

  &__label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    transition: ease-in-out 0.3s;

    &::before {
      content: " ";
      color: #000;
      display: inline-block;
      margin-right: 15px;
      width: 15px;
      height: 15px;
      background: #FFF;
      border: 1px solid $black;
    }

    &::after {
      position: absolute;
      top: 2px;
      left: 21px;
      font-size: 21px;
      font-weight: 700;
      color: $black;
      transition: ease-in-out 0.3s;
    }
  }

  &__input {

  }
}


.quizSwiper {
  height: 100%;

  .swiper-slide {
    padding: 35px;

    &:first-child {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px 0 0;
      //background-size: contain;
      //background: url("../img/decorations/quiz-bg.png") no-repeat left center;
    }
  }
}
