.premium-models {
  background: rgba(0, 0, 0) url("../img/decorations/donuts-bg.png") no-repeat center;

  &__section {
    &:first-child {
      border-bottom: 1px solid $white;
    }
  }

  &__row {
    padding: 100px 0;
    @media (max-width: 991.98px) {
      padding: 70px 0;
    }
    @media (max-width: 575.98px) {
      padding: 50px 0;
    }
  }
}
