.modelsSwiper {
  .swiper-pagination {
    text-align: right;

    .swiper-pagination-bullet {
      background: rgba(255, 255, 255, 0);
      border: 2px solid #A3A3A3;

    }
    .swiper-pagination-bullet-active {
      background: #A3A3A3;
      border: 2px solid #A3A3A3;
    }
  }
}
.swiper .swiper-button-next, .swiper-button-prev {
  width: 42px;
  height: 42px;
  border: none;
  color: $black;
  line-height: 42px;
  text-align: center;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0px 10px 20px rgba(91, 91, 91, 0.2);
  @media (max-width: 575.98px) {
    display: none;
  }

  &::after {
    font-size: 13px;
    font-weight: 800;
  }
}
