.modelsSwiper {
  transition: ease 0.5s;
  .swiper-pagination {
    text-align: right;
    bottom: 0;
  }

   .swiper-button-next, .swiper-button-prev {
    background: $main-color;
     color: $white;
    @media (max-width: 991.98px) {
      display: none;
    }
  }
}
.tariffSwiper {
  .swiper-pagination {
    text-align: right;
    bottom: 0;
  }
}
.swiper-button-next, .swiper-button-prev {
  width: 42px;
  height: 42px;
  border: none;
  color: $black;
  line-height: 42px;
  text-align: center;
  background-color: $white;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(91, 91, 91, 0.2);

  &::after {
    font-size: 13px;
    font-weight: 800;
  }
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #A3A3A3;

}

.swiper-pagination-bullet-active {
  background: #A3A3A3;
  border: 2px solid #A3A3A3;
}

.premiumSwiper {
  transition: 1.2s;

  .swiper-slide {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  .swiper-button-prev {
    left: auto;
    right: 400px;
    @media (max-width: 991.98px) {
      left: 0;
      right: auto;
      top: 73%;
    }
  }

  .swiper-button-next {
    left: auto;
    right: 0;
    @media (max-width: 991.98px) {
      top: 73%;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    @media (max-width: 575.98px) {
      display: none;
    }
  }

  .swiper-pagination-progressbar {
    width: 340px;
    top: auto;
    left: auto;
    bottom: 75px;
    right: 45px;

    @media (max-width: 1199.98px) {
      width: 320px;
      bottom: 75px;
      right: 45px;
    }
    @media (max-width: 991.98px) {
      width: 341px;
      bottom: 23px;
      right: 193px;
    }
    @media (max-width: 767.98px) {
      right: 100px;
    }
    @media (max-width: 575.98px) {
      right: 90px;
      bottom: 25px;
    }
    @media (max-width: 530.98px) {
      right: 75px;
    }
    @media (max-width: 500.98px) {
      right: 60px;
      bottom: 40px;
    }
    @media (max-width: 470.98px) {
      right: 40px;
    }
    @media (max-width: 450.98px) {
      right: 30px;
    }
    @media (max-width: 420.98px) {
      right: 20px;
    }
    @media (max-width: 400.98px) {
      right: -10px;
    }
  }

  .swiper-pagination-progressbar-fill {
    background: $yellow;
  }

}

#cars-premium {
  .balancer {
    .swiper-pagination-progressbar {
      @media (max-width: 1199.98px) {
        bottom: 80px;
      }
      @media (max-width: 991.98px) {
        bottom: 23px;
      }
    }
  }
}

#trucks-premium {
  .swiper-pagination-progressbar {
    @media (max-width: 1199.98px) {
      bottom: 70px;
    }
    @media (max-width: 991.98px) {
      bottom: 27px;
    }
    @media (max-width: 575.98px) {
      bottom: 25px;
    }
  }
}

.deliverySwiper {
  .swiper-wrapper {
    max-width: 660px;
    @media (max-width: 1199.98px) {
      max-width: 500px;
    }
    @media (max-width: 991.98px) {
      max-width: 660px;
    }
    @media (max-width: 767.98px) {
      max-width: 570px;
    }
    @media (max-width: 575.98px) {
      max-width: 440px;
    }
    @media (max-width: 470.98px) {
      max-width: 370px;
    }
    @media (max-width: 390.98px) {
      max-width: 340px;
    }
    @media (max-width: 360.98px) {
      max-width: 310px;
    }

    .swiper-slide {
      img {
        border-radius: 30px;
        max-width: 100%;
      }
    }
  }

  .swiper-pagination-bullet {
    background: $white;
    border: none;
  }

  .swiper-pagination-bullet-active {
    background: $main-color;
    border: none;
  }

  .swiper-pagination {
    top: 20px;
    right: -265px;
    left: auto;
    bottom: auto;
    @media (max-width: 1199.98px) {
      right: -180px;
    }
    @media (max-width: 991.98px) {
      right: -260px;
    }
    @media (max-width: 767.98px) {
      right: -220px;
    }
    @media (max-width: 575.98px) {
      right: -175px;
    }
    @media (max-width: 470.98px) {
      right: -120px;
    }
    @media (max-width: 390.98px) {
      right: -110px;
      top: 15px;
    }
    @media (max-width: 350.98px) {
      right: -90px;
    }
  }
}
