.captcha {
  display: none;
  align-items: center;
  text-align: center;
  z-index: 1111;
  .captcha-block {
    &__text {
      font-size: 16px;
      margin-bottom: 15px;
    }
    .form__input {
      border: 1px solid gray;
      border-radius: 10px;
    }
  }
}
