.modal {
  display: none;
  height: fit-content;
  color: $black;
  background: $white;
  padding: 35px;
  border-radius: 20px;

  @media (min-width: 2000px) {
    max-width: 490px;
  }
  @media (max-width: 575.98px) {
    padding: 25px;
  }

  &_md {
    max-width: 490px;
  }

  &_sm {
    max-width: 300px;
  }

  &__title {
    font-size: 28px;
    font-weight: 900;
    max-width: 95%;
    margin-bottom: 15px;

    @media (min-width: 2000px) {
      font-size: 26px;
    }
    @media (max-width: 575.98px) {
      font-size: 23px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 30px;

    @media (min-width: 2000px) {
      font-size: 20px;
    }
  }


  &__btn {
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
  }
}

.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: auto;
}

.fancybox__content > .carousel__button.is-close {
  top: 1%;
  right: 1%;
  color: var(--color-black);

  > svg {
    width: 18px;
    height: 18px;
  }
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.compensate-for-scrollbar {
  padding-right: 0 !important;
}
