.nav {
  gap: 15px;
  max-width: 560px;
  background: #f2f2f2;
  padding: 25px;
  border-radius: 30px;
  @media (max-width: 1199.98px) {
    max-width: 500px;
  }
  @media (max-width: 991.98px) {
    max-width: 560px;
  }

  &__row {
    display: flex;
    gap: 15px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__item {
    position: relative;
    cursor: pointer;
    width: 240px;
    height: 176px;
    padding: 20px;
    background: $white;
    border-radius: 10px;
    transition: ease-in-out 0.4s;
    overflow: hidden;

    @media (max-width: 575.98px) {
      width: 170px;
      height: 133px;
      padding: 10px;
    }

    &:hover {
      box-shadow: 0 0.2px 2.7px rgba(0, 0, 0, 0.031),
      0 0.4px 6.5px rgba(0, 0, 0, 0.044),
      0 0.8px 12.1px rgba(0, 0, 0, 0.055),
      0 1.3px 21.7px rgba(0, 0, 0, 0.066),
      0 2.5px 40.5px rgba(0, 0, 0, 0.079),
      0 6px 97px rgba(0, 0, 0, 0.11);
      transform: scale(1.05);
      transition: ease-in-out 0.4s;

      &::after {
        width: 210px;
        height: 210px;
        transition: ease-in-out 0.4s;
      }
    }

    &::before {
      content: '';
      width: 94px;
      height: 171px;
      background: url("../img/models/l1.png") no-repeat;
      background-size: contain;
      position: absolute;
      top: 15px;
      right: 0;
      transition: ease-in-out 0.5s;
      z-index: 2;
      @media (max-width: 575.98px) {
        width: 75px;
        height: 100px;
        right: -22px;
        top: 34px;
      }
    }
    &::after {
      content: '';
      background: $main-color;
      position: absolute;
      bottom: -102px;
      right: -81px;
      width: 190px;
      height: 190px;
      border-radius: 100%;
      transition: ease-in-out 0.4s;
      @media (max-width: 575.98px) {
        width: 150px;
        height: 150px;
      }
    }

    &_lg {
      width: 100%;
    }
  }

  &__title {
    max-width: 142px;
    font-size: 16px;
    font-weight: 700;
    color: $black;
    @media (max-width: 1199.98px) {
      font-size: 15px;
    }
    @media (max-width: 575.98px) {
      font-size: 14px;
    }
  }
}
