.main {
  background-size: cover;
  background: url("../img/decorations/main-bg.png") center;

  &__row {
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 55px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      row-gap: 60px;
    }
    @media (max-width: 575.98px) {
      padding-top: 85px;
      padding-bottom: 30px;
    }
  }

  &__left {
    color: $white;

  }

  &__title {
    max-width: 416px;
    font-size: 32px;
    padding-bottom: 50px;
    border-bottom: 1px solid $white;
    @media (max-width: 991.98px) {
      max-width: 100%;
    }
    @media (max-width: 575.98px) {
      font-size: 22px;
      padding-bottom: 20px;
    }
  }

  &__ul {
    padding-top: 70px;
  }
}
