.premium-model {
  position: relative;
  @media (max-width: 1199.98px) {

  }

  &__title {
    color: $white;
    margin-bottom: 15px;
  }

  &__textblock {
    position: absolute;
    top: 40px;
    left: 0;
    flex-shrink: 0;
    z-index: 5;
  }

  &__switches {
    flex-direction: column;
    gap: 17px;
    @media (max-width: 991.98px) {
        gap: 10px;
    }

    .switch {
      width: fit-content;
      color: $yellow;
      border-color: $yellow;
      &:hover {
        color: $black;
        background: $yellow;
      }

      &_active {
        color: $black;
        background: $yellow;
      }
    }
  }

  &__img {
    align-self: flex-end;
    @media (max-width: 1199.98px) {

    }
    @media (max-width: 991.98px) {
      align-self: center;
      margin-left: 0;
    }
    img {
      max-width: 100%;
      @media (max-width: 1199.98px) {
        max-width: 80%;
      }
      @media (max-width: 991.98px) {
        max-width: 100%;
        padding-top: 30px;
      }
      @media (max-width: 575.98px) {
        padding-top: 80px;
      }
    }
  }

  &__card {
    margin-right: 50px;
    @media (max-width: 991.98px) {
      margin-right: 0;
    }
  }
}
