.premium-model {
  display: flex;

  &__title {
    color: $white;
    margin-bottom: 15px;
  }

  &__textblock {
    flex-shrink: 0;
  }

  &__switches {
    flex-direction: column;
    gap: 17px;

    .switch {
      width: fit-content;
      color: $yellow;
      border-color: $yellow;
      &:hover {
        color: $black;
        background: $yellow;
      }

      &_active {
        color: $black;
        background: $yellow;
      }
    }
  }

  &__img {
    img {
      max-width: 100%;
    }
  }

  &__card {

  }
}
