.tariff {
  background: $white;
  padding-top: 50px;
  padding-bottom: 100px;
  background: $light-bg;
  overflow: hidden;
  @media (max-width: 991.98px) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  @media (max-width: 575.98px) {
    padding-top: 35px;
  }

  &__header {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__options {
    padding-top: 30px;
    gap: 50px;

    @media (max-width: 1099.98px){
      gap: 30px;
    }
    @media (max-width: 991.98px) {
      overflow-x: scroll;
      height: 500px;
    }

    .model-card {
      max-width: 367px;
      @media (max-width: 991.98px) {
        flex-shrink: 0;
      }
      @media (max-width: 575.98px) {
        max-width: 320px;
      }

      .model-card__title_front {
        border-top: none;
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid $main-color;
        margin-top: 0;
      }
      .model-card__title_back {
        border-bottom: 8px solid $white;
      }
    }
  }

  &__text {
    padding: 15px 0;
  }
}
