.tariff {
  background: $white;
  background: $light-bg;
  overflow: hidden;

  &__header {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__options {
    padding-top: 30px;
    height: 580px;
    @media (max-width: 1199.98px) {
      height: 550px;
    }
    @media (max-width: 1099.98px) {
      height: 635px;
    }
    @media (max-width: 991.98px) {
      height: 100%;
    }

    .swiper-wrapper {
      padding: 0 10px 30px 10px;

      @media (max-width: 1099.98px) {
        height: 95%;
      }
    }

    .model-card {
      max-width: 367px;
      border-radius: 30px;

      @media (max-width: 1199.98px) {
        max-width: 302px;
      }

      &__front, &__back {
        border-radius: 30px;
        padding: 25px;
      }
      &__front {
        @media (max-width: 991.98px) {
          min-height: 554px;
        }
      }

      @media (max-width: 1199.98px) {
        flex-shrink: 0;
      }
      @media (max-width: 991.98px) {
        max-width: 100%;
      }

      img {
        padding-bottom: 0;
      }

      .model-card__title_front {
        border-top: none;
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid $main-color;
        margin-top: 0;
      }

      .model-card__title_back {
        border-bottom: 8px solid $white;
      }
    }
  }

  &__text {
    padding: 15px 0;
    font-size: 16px;
  }
}
