.scene {
  overflow: hidden;
  padding-bottom: 60px;
  @media (max-width: 1199.98px) {
    padding-bottom: 0;
  }

  &__back {
    top: -70px !important;
    @media (max-width: 575.98px) {
      top: -150px !important;
    }
  }

  &__front {
    top: -750px !important;
    @media (max-width: 575.98px) {
      top: -858px !important;
    }
  }
}
