.scene {
  overflow: hidden;
  padding-bottom: 60px;
  @media (max-width: 1199.98px) {
    padding-bottom: 0;
  }

  &__back {
    top: -70px !important;
  }

  &__front {
    top: -750px !important;
  }
}
