.good-modal {
  max-width: 740px;
  width: 100%;
  @media (max-width: 991.98px) {
    max-width: 600px;
  }

  .row {
    gap: 60px;
    align-items: center;
    @media (max-width: 991.98px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__form-block {
    max-width: 433px;
    @media (max-width: 991.98px) {
      max-width: 100%;
    }
  }

}
