.good-modal {
  max-width: 900px;
  &__form-block {
    max-width: 433px;
  }
  &__gallery {

  }
}

.modalSwiper {
  .swiper-wrapper {
    max-width: 500px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }
}
