* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  transition: all 0.4s;
}

button {
  border: none;
  cursor: pointer;
}

input {
  &:focus-visible {
    outline: none;
  }
}

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: $black;
}

.container {
  padding: 30px 15px;

  @media (min-width: 575.98px) {
    padding: 50px calc(50% - 270px);
  }

  @media (min-width: 767.98px) {
    padding: 60px calc(50% - 360px);
  }

  @media (min-width: 991.98px) {
    padding: 75px calc(50% - 480px);
  }

  @media (min-width: 1199.98px) {
    padding: 100px calc(50% - 590px);
  }
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.color-bl {
  color: $black;
}

.color-w {
  color: $white;
}
.hidden {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  opacity: 0 !important;
  transition: 1.2s;
}
.text {
  color: $black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}
.grey-text {
  font-size: 16px;
  font-weight: 700;
  color: #BABABA;
}

.line-through {
  text-decoration: line-through;
}
