:root {
  --color-yellow: #f9c71e; // main color
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey: #2C2C2C;
  --color-blue: #3763d3;
  --color-red: #e15858;
  --hover-yellow: #927309; // main hover color
}
