.presence {
  padding-top: 100px;
  padding-bottom: 50px;
  background: $light-bg;
  @media (max-width: 991.98px) {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  @media (max-width: 575.98px) {
    padding-top: 40px;
    padding-bottom: 35px;
  }

  &__row {
    justify-content: space-between;
    align-items: center;
    background: $white;
    padding: 30px;
    border-radius: 30px;
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }

  &__form-block {
    max-width: 475px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 35px;
    @media (max-width: 575.98px) {
      margin-bottom: 20px;
    }
  }

  &__form {
    @media (max-width: 991.98px) {
      margin-top: 20px;
    }
  }

  &__advantages {
    max-width: 360px;
  }

  &__ul {
    li {
      position: relative;
      &:not(:last-child) {
        padding-bottom: 35px;
      }
      &::before {
        content: '';
        background: url("../img/icons/tick-white.svg");
        position: absolute;
        width: 35px;
        height: 35px;
        top: -2px;
        left: -55px;
      }
    }
    &_desk {
      @media (max-width: 991.98px) {
        @include visually-hidden();
      }
    }
    &_mob {
      display: none;
      @media (max-width: 991.98px) {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        li {
          position: relative;
          padding: 10px 170px 10px 0;
          border-bottom: 1px solid $main-color;
          @media (max-width: 575.98px) {
            padding: 10px 120px 10px 0;
          }
          @media (max-width: 420.98px) {
            padding: 10px 100px 10px 0;
          }
          @media (max-width: 360.98px) {
            padding: 10px 60px 10px 0;
          }
          &:not(:last-child) {
            padding-bottom: 10px;
          }
          &::before {
            content: '';
            background: url("../img/icons/tick-simple.svg") no-repeat;
            position: absolute;
            width: 24px;
            height: 18px;
            top: 25px;
            left: initial;
            right: 15px;
            @media (max-width: 575.98px) {
              top: 12px;
            }
          }
        }
      }
      @media (max-width: 575.98px) {
        margin: 0;
      }
    }
  }
}
