.media {
  ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    @media (max-width: 575.98px) {
      gap: 25px;
    }

    li {
      list-style: none;

      a {
        position: relative;
        width:70px;
        height:70px;
        display:block;
        text-align:center;
        border-radius: 50%;
        padding: 6px;
        box-sizing: border-box;
        text-decoration:none;
        box-shadow: 0 10px 15px rgba(0,0,0,0.3);
        background: linear-gradient(0deg, #ddd, #fff);
        transition: .5s;

        @media (max-width: 575.98px) {
          width: 50px;
          height: 50px;
        }

        &:hover {
          box-shadow: 0 2px 5px rgba(0,0,0,0.3);
          text-decoration:none;

          svg {
            filter: grayscale(0);
          }
        }

        svg {
          width: 100%;
          height:100%;
          display:block;
          background: linear-gradient(0deg, #fff, #ddd);
          border-radius: 50%;
          line-height: calc(60px - 12px);
          font-size:24px;
          color: #262626;
          transition: .5s;
          filter: grayscale(100%);
        }
      }
    }
  }

  &__title {
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
    @media (max-width: 575.98px) {
      font-size: 23px;
    }
  }
}

