.premium-card {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  width: 100%;
  padding: 25px;
  background: $white;
  border-radius: 30px;
  @media (max-width: 1199.98px) {
    max-width: 320px;
    gap: 25px;
  }
  @media (max-width: 991.98px) {
    max-width: 367px;
    align-self: center;
  }
  @media (max-width: 575.98px) {
    gap: 15px;
  }

  &__title {
    font-size: 23px;
    color: $black;
    padding-bottom: 15px;
    border-bottom: 5px solid $yellow;
    @media (max-width: 575.98px) {
      font-size: 22px;
    }
  }

  &__ul {
    padding-top: 10px;
    padding-bottom: 10px;
    @media (max-width: 1199.98px) {
      padding: 0;
    }

    li {
      max-width: 240px;
      padding: 15px 0;

      &:not(:last-child) {
        border-bottom: 1px solid #B9AC00;
      }
    }
  }

  &__button {
    font-size: 32px;
    font-weight: 900;
    color: $black;
    background: $yellow;
    margin-top: auto;
    padding: 15px 20px;
  }
}
