.custom-ul {
  list-style-type: none;
  @media (max-width: 991.98px) {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__li {
    position: relative;
    padding-left: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;

    &:not(:last-child) {
      padding-bottom: 35px;
    }

    @media (max-width: 991.98px) {
      max-width: 180px;
      padding-left: 0;
      text-align: center;
    }
    @media (max-width: 767.98px) {
      max-width: 165px;
      font-size: 18px;
    }

    &::before {
      content: '';
      background: url("../img/icons/tick.svg");
      position: absolute;
      top: 8px;
      left: -5px;
      width: 35px;
      height: 35px;
      @media (max-width: 991.98px) {
        top: -44px;
        left: 58px;
      }
      @media (max-width: 767.98px) {
        left: 50px;
      }
    }

    &:last-child {
      @media (max-width: 991.98px) {
        &::before {
          left: 73px;
        }
        @media (max-width: 767.98px) {
          &::before {
            left: 67px;
          }
        }
      }
    }
  }
}
